<?xml version="1.0" encoding="UTF-8"?>

<!--
    failOnWarning is disabled, unlike in the other bridges: the LocalS3 emulator used for the integration tests
    omits the "distanceMetric" field in QueryVectors responses, even though AWS declares it as required, which
    makes async-aws emit a PHP warning while parsing the response. Can be enabled once LocalS3 returns it.
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnDeprecation="true"
         failOnRisky="true"
         failOnWarning="false"
         executionOrder="random"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Symfony AI S3Vectors Store Bridge Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <source ignoreSuppressionOfDeprecations="true">
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>
</phpunit>
